html,
body {
    height: 100%;
    margin: 0;
}

button {
    margin: 20px;
    background: inherit;
    color: white;
    padding: 15px;
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    color: white;
    background: rgba(255, 255, 255, 0.425);
    border: 1px solid black;
}

.score {
    color: aliceblue;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas {
    display: none;
    border: 1px solid white;
}